body{

    margin:0;

    padding:0;

    font-family:Arial;

    background:#00c853;

}

.contenedor{

    width:320px;

    margin:auto;

    margin-top:40px;

    padding:20px;

    border-radius:20px;

    text-align:center;

}

.logo{

    width:100px;

}

h1{

    color:white;

    font-size:38px;

}

h2{

    color:white;

    text-align:left;

}

input, select{

    width:90%;

    padding:18px;

    margin:12px 0;

    border-radius:12px;

    border:3px solid black;

    background:#f5f0e8;

    font-size:18px;

}

button{

    width:95%;

    padding:18px;

    border:none;

    border-radius:12px;

    background:#c8d6c8;

    font-size:22px;

    cursor:pointer;

}

.texto{

    color:white;

    font-size:18px;

}